/* Work Sans Font From Google  */


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Open+Sans:ital,wght@0,600;0,700;0,800;1,500;1,700;1,800&family=Poppins:wght@100;500&family=Work+Sans:ital,wght@0,400;0,700;1,700;1,800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



/* Header Section */


/* nav section */

nav {
    display: flex;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav>ul {
    display: flex;
    /* margin-left: 30px; */
    list-style: none;
    align-items: center;
}

nav>ul>li>a {
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
}

.icon_section {
    display: flex;
    align-items: center;
}

#img_icon {
    width: 86.041px;
    height: 40px;
}

#icon_title {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#color_text {
    background: #FF42A5;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#icon_title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.icon_btn {
    padding: 17px 24px 18px 24px;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.fa-brands {
    margin-left: 10px;
    margin-right: 10px;
}





/* banner Section */

/* .banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

.banner {
    display: flex;
    justify-content: center;
}

.banner_design {
    margin-left: 0px;
    background-image: url('../images/Group\ 14.png');
    fill: linear-gradient(235deg, rgba(140, 87, 238, 0.03) 3.9%, rgba(241, 68, 174, 0.03) 100.56%);
    /* margin-left: 0px; */
    margin-right: 280px;

}

.banner_pad {
    /* margin-left: 0px; */
    padding: 148px 250px;
}

.banner_title {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0px;

}

.banner_goat {
    margin-top: 0px;
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.banner_description {
    margin-top: 24px;
    color: #534C64;
    /* text-align: center; */
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;

}

.fa-solid {
    margin-right: 10px;
}

.btn_display {
    display: flex;
}

.btn_primary {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 18px 20px;
    align-items: flex-start;
    gap: 5px;
    border-radius: 28px;
    background: #FF42A5;
    margin-right: 10px;
}

.btn_secondary {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 18px 20px;
    align-items: flex-start;
    gap: 5px;
    border-radius: 28px;
    background: #4EC5F7;
}

.banner_image {
    width: 100%;
    margin-right: 280px;
}

/* We are gamer part section */

.gamer_section {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    margin-bottom: 45px;
    /* margin-left: 150px; */
    /* justify-content: space-between; */
}

.gamer_img {
    margin: 55px 0px 55px 255px;
}

.gamer_design {
    margin-left: 52px;
    margin-right: 240px;
}

#btn_ptm {
    margin-left: 204px;
}

#text_deco {
    margin-left: 225px;
    color: #534C64;
    font-weight: 500;
}

#text_deco_2 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}


/* Media Devices Responsive

/* Mobile devices */

/* @media screen and (max-width:576px) {

    nav {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
        margin-right: 200px;
        align-items: center;

    }

    .banner {
        flex-direction: column-reverse;

    }

    .banner_image {
        width: 25%;
    }

    .banner_design {}

} */